/* Import Tailwind and typography */
@import "tailwindcss";
@import "./typography.css";

/* Import Geist from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* ===========================
   Light Mode
   ========================== */
:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #201f20;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;

  /* Fonts */
  --font-body: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "SFMono-Regular", "Fira Code", "Menlo", monospace;
}

/* ===========================
   Dark Mode
   ========================== */
html[data-theme="dark"] {
  --background: #161617;
  --foreground: #f5f5f5;
  --accent: #50E3C2;
  --muted: #4a4c4e;
  --border: #4a4c4e;
  --icon-offset: 1px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
