/* Import Tailwind and typography */
@import "tailwindcss";
@import "./typography.css";

/* Import Geist from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* ===========================
   Light Mode
   ========================== */
:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;

  /* Fonts */
  --font-body: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "SFMono-Regular", "Fira Code", "Menlo", monospace;
}

/* ===========================
   Dark Mode
   ========================== */
html[data-theme="dark"] {
  --background: #171717;
  --foreground: #f5f5f5;
  --accent: #7c7f82;
  --muted: #4a4c4e;
  --border: #4a4c4e;
  --icon-offset: 1px;

}

/* ===========================
   Theme inline
   ========================== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-selection: var(--selection);
  --color-icon-offset: var(--icon-offset);
  --color-accent: var(--accent);
  --color-link-hover: var(--link-hover);
  --color-rss: var(--rss-color);
}

/* ===========================
   Base styles
   ========================== */
@layer base {
  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  body {
    @apply flex min-h-svh flex-col font-sans;
    background-color: var(--color-background);
    color: var(--color-foreground);

    ::selection {
      background-color: var(--color-selection);
      color: var(--color-foreground);
    }
  }

  /* Links */
  a {
    color: var(--color-foreground);
    transition: color 0.2s ease-in-out;
  }

  html[data-theme="light"] a:hover,
  html[data-theme="dark"] a:hover {
    color: var(--color-link-hover);
  }

  a,
  button {
    @apply outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
    outline-color: var(--color-accent);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }

  /* Icon offset */
  svg {
    transform: translateY(var(--color-icon-offset));
    color: var(--color-foreground);
  }

  /* RSS icon */
  .rss-icon {
    color: var(--color-rss);
    transition: color 0.2s ease-in-out;
  }

  html[data-theme="dark"] .rss-icon {
    transform: translateY(var(--color-icon-offset));
  }
}

/* ===========================
   Utilities
   ========================== */
@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

:target {
  scroll-margin-block: 1rem;
}
